#SearchResultsMain{
    max-width: 1700px;
    margin: 0px auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

#SearchResultsMain h1{
    font-family: 'Dosis';
    font-weight: bold;
}

#SearchResultsMain h1 span{
    color: rgb(255, 94, 0);
}

#SearchResultsContainer{
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));;
    gap: 2rem;
}

.SearchResultsItemLink{
    all: unset;
}

#SearchResultItemCard{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
    max-width: 480px;
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2),
                0 6px 20px 0 rgba(126, 126, 126, 0.19);
    animation: fadeInAnimation ease-out 1s;
    overflow: hidden;    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#SearchResultItemCard:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03); 
}

.searchResultItemPhoto{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.SearchResultItemInnerContainer{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.SearchResultItemRestaurantName{
    font-weight: 500;
    overflow: hidden;
}

.SearchResultItemRestaurantType{
    color: rgb(120, 120, 120);
    font-size: 13px;
    padding-bottom: 1rem;
    overflow: hidden;
}

.SearchResultItemDivider{
    border-bottom: 1px dotted lightgrey;
}

.SearchResultItemInnerBottomContainer{
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: rgb(120, 120, 120);
}

@media (max-width: 400px){
    #SearchResultsMain h1{
        font-size: 1.2rem;
        padding-bottom: 1rem;
        margin-left: -1rem;
    }

    #SearchResultsContainer{
        grid-template-columns: repeat(1, minmax(0px, 1fr)) !important;
    }
}

@media (max-width: 600px){
    .SearchResultItemRestaurantName{
        font-size: 13px;
        margin-top: -5px;
    }
    
    .SearchResultItemRestaurantType{
        color: rgb(100, 100, 100);
        font-size: 12px;
        padding-bottom: 0.5rem;
        overflow: hidden;
    }
    
    .SearchResultItemInnerBottomContainer{
        padding-left: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 10px;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    #SearchResultsMain{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #SearchResultsMain h1{
        font-size: 1.3rem;
    }

    .searchResultItemPhoto{
        height: 120px !important;
    }
}

@media (max-width: 800px){
    #SearchResultsContainer{
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }
}

@media (min-width: 800px) and (max-width: 1400px){
    #SearchResultsContainer{
        grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
}

@media (max-width: 1000px){
    .searchResultItemPhoto{
        height: 150px;
    }
}