.content{
    padding-top: 4rem;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 3rem;
    height: 250px;
    background-color: rgb(252, 241, 225);
}
