#appContent{
    min-height: 100vh;
}

#loginMain{
    transition: all 5s;
}

#footer {
    margin-top: 5rem;
    height: 250px;
    background-color: rgb(252, 241, 225);
}

@media (max-width: 800px) {
    #appContent{
        width: 100vw;
        
    }
}
