@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

<<<<<<< HEAD
.customerProfile{
=======
.businessProfile{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
    margin-left: 2rem;
    margin-top: 2rem;
}

<<<<<<< HEAD
.customerProfile h1{
=======
.businessProfile h1{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
    font-weight: 100;
    font-size: 2.5rem;
    font-family: 'Fredoka One';
}

<<<<<<< HEAD
.customerProfileOptions{
=======
.businessProfileOptions{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
    font-size: 1.2rem;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(230, 227, 227);
    padding-bottom: 0.1rem;
    width: 95%;
}

<<<<<<< HEAD
#customerProfilePersonalInfo{
=======
#businessProfilePersonalInfo{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
    margin-top: -2rem;
    padding-bottom: 0.45rem;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

<<<<<<< HEAD
#customerProfileOrderHistory{
=======
#businessProfileOrderHistory{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
    margin-top: -2rem;
    padding-bottom: 0.45rem;
    position: absolute;
    margin-left: 14rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

<<<<<<< HEAD
#customerProfileSettings{
=======
#businessProfileSettings{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
    margin-top: -2rem;
    padding-bottom: 0.45rem;
    position: absolute;
    margin-left: 23.6rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.profileStatusActive{
    font-weight: 600;
    border-bottom: solid 2px black; 
}

@media (max-width: 600px) {    
<<<<<<< HEAD
    .customerProfileOptions{
=======
    .businessProfileOptions{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        border-bottom: none;
        gap: 0.6rem;
    }
    
<<<<<<< HEAD
    #customerProfilePersonalInfo{
=======
    #businessProfilePersonalInfo{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
        position: relative;
        padding-bottom: 0rem;
    }
    
<<<<<<< HEAD
    #customerProfileOrderHistory{
=======
    #businessProfileOrderHistory{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
        position: relative;
        margin-left: 0;
        margin-top: 0rem;
        padding-bottom: 0rem;
    }
    
<<<<<<< HEAD
    #customerProfileSettings{
=======
    #businessProfileSettings{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
        position: relative;
        margin-left: 0;
        margin-top: 2rem;
        padding-bottom: 0rem;
    }

<<<<<<< HEAD
    .customerProfileOptionBorder{
=======
    .businessProfileOptionBorder{
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
        border: 1px solid rgb(230, 227, 227);
        background-color: rgb(230, 227, 227);
        width: 100%;
        margin-left: 0px !important;
    }

    .profileStatusActive{
        font-weight: 600;
        border-bottom: none;
    }
}

@media (min-width: 1800px) {
<<<<<<< HEAD
    .customerProfile {
=======
    .businessProfile {
>>>>>>> 50559b3e15ff1f097ae8639e86e2265c90424b01
        width: 1610px;
        margin: 0px auto;
        margin-top: 2rem;
        align-items: center;
    }
}