#loggedInHeaderBtns{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#loggedInUserIcon{
    width: 2.6rem;
    height: 2.6rem;
    font-weight: 500;
    text-align: center;
    margin-right: 0.8rem;
    background: rgb(255, 233, 192);
    border-radius: 10rem;
}

#loggedInUserIcon span{
    display: block;
    margin-top: 0.6rem;
    font-size: 1rem;
}

#loggedInArrow{
    height: 15px;
    width: 15px;
    margin-top: 1rem;
    transition: all 0.3s;
}

.arrowPosition{
    transform: rotateX(180deg);    
}

.userDropdownContent{
    display: none;
    position: absolute;
    top: 4.2rem;
    margin-left: -80px;
    background-color: #f1f1f1;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
    border-radius: 6px;
    z-index: 1;
}

.userDropdownOptionProfile{
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border-bottom: 1px solid grey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.userDropdownOptionLogout{
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 5rem;
    padding-bottom: 0.8rem;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#userDropdown span{
    font-size: 16px;
}

#userDropdown div:hover{
    transition: all 0.3s;
    background-color: rgb(255, 221, 147);
    cursor: pointer;
}

.show{
    display: block !important;
}

@media (max-width: 600px){
    .userIcon{
        height: 2.5rem;
        cursor: pointer;
    }
    
    .btnDiv {
        display: none;
    }

    #loggedInArrow{
        display: none;
    }

    .userDropdownContent{
        margin-left: -100px;
    }
}

@media (min-width:600px) and (max-width: 1200px){
    .userIcon{
        height: 2.5rem;
        padding-right: 2rem;
        cursor: pointer;
    }
    
    .btnDiv {
        display: none;
    }
}

@media (min-width: 1200px){
    .btnDiv{
        margin-right: 100px;
        width: 300px;
        display: grid;
        grid-template-columns: 100px 100px 110px;
        gap: 30px;
        align-items: center;
    }

    .userIcon{
        display: none;
    }

    .loginBtnHeader{
        border: 1px solid;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.5s;
    }

    .loginBtnHeader span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .loginBtnHeader span:after {
        content: '🔑';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .loginBtnHeader:hover span {
        padding-right: 25px;
    }
    
    .loginBtnHeader:hover span:after {
        opacity: 1;
        right: 0;
    }

    .signupBtnHeader{
        border: 1px solid;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.5s;
    }

    .signupBtnHeader span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .signupBtnHeader span:after {
        content: '🔗';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .signupBtnHeader:hover span {
        padding-right: 25px;
    }
    
    .signupBtnHeader:hover span:after{
        opacity: 1;
        right: 0;
    }

    #dropbtnLanguage{
        border: 1px solid;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.2s;
    }
    
    #dropbtnLanguage:hover, .dropbtnLanguage:focus{
        background-color: rgb(243, 243, 243);
    }

    #myDropdown{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 95px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    #myDropdown option{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    #myDropdown option:hover{
        transition: all 0.3s;
        background-color: #ddd;
        cursor: pointer;
    }

    #arrowLanguage{
        margin-left: 5px;
        transition: all 0.3s;
    }
}

@media (max-width: 1800px){
    #loggedInArrow{
        padding-right: 2rem;
    }
}