.businessTitle{
    text-align: center;
}

.menuContainer{
    border-spacing: 0px;
    grid-auto-flow: row;
    align-items: center;
}

.foodImage{
    width: 100px;
}

.menuContainer td{
    border: 1px;
    border-style: solid;
    text-align: center;
}

.editBtn{
    width: 50px;
}

.editBtn:hover{
    cursor: pointer;
}

.editContent{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editTitle{
    cursor: default;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.editSubTitle{
    text-align: center;
    cursor: default;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}


.editForm{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-bottom: 1rem;
}

.editField{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.6rem;
    margin-bottom: 1.3rem;
    border: 0.1rem solid lightgrey;
    border-radius: 0.4rem;
    font-size: 1.3rem;
}


.editMenuTitle{
    margin-bottom: 5px;
    margin-left: 5px;
}

