@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');


.restaurantName{
    font-family: 'Fredoka one', sans-serif;
    font-size: 4rem;
    color: white;
    text-shadow: -0px -0px 20px black;
    position: absolute;
    top: 22rem;
    left: 3rem;
}

.restaurantContainerType{
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: -0px -2px 10px black;
}

.restaurantImage{
    height: 520px;
    width: 100%;
    object-fit: cover;
}

.restaurantDataContainer{
    margin: 0px auto;
    padding-top: 3rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.restaurantDataContainerLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
}

.restaurantDataContainerLeftCategories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.restaurantDataContainerLeftCategoryTitle{
    display: inline-block;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    color: rgb(115, 115, 115);
}

.restaurantDataContainerLeftCategoryTitle:before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 1.3rem;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: rgb(117, 117, 117);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.restaurantDataContainerLeftCategoryTitle:hover::before{
    width: 100%;
    visibility: visible;
    background-color: rgb(255, 156, 27);
}

.restaurantDataContainerLeftCategoryTitle:hover{
    transition: all 0.2s ease-in-out;
    color: rgb(255, 156, 27);
}

.restaurantDataContainerCenter{
    display: flex;
    flex-direction: column;
}

#restaurantDataContainerRight{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.restaurantDataTitle{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.restaurantDataSubtitle{
    font-size: 16px;
    font-weight: 700;
}

.restaurantDataAddress{
    padding-top: 5px;
    font-size: 14px;
}

.restaurantDataOpeningtimes{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-size: 14px;
}

.restaurantDataGreytext{
    color: grey;
}

@media (max-width: 600px){
    .restaurantName{
        left: 1rem;
        font-size: 3rem;
    }

    .restaurantImage{
        height: 400px;
    }
}

@media (max-width: 1000px) {
    .restaurantDataContainer{
        margin: 0px auto;
        padding-left: 1.7rem;
        padding-right: 1.7rem;
        flex-direction: column;
        gap: 2rem;
    }

    #restaurantDataContainerRight{
        display: none;
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 100px;
    }

    .restaurantDataContainerLeft{
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
    
    .restaurantDataContainerLeftCategories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (min-width: 1800px) {
    .restaurantDataContainer {
        width: 1600px;
        margin: 0px auto;
    }

    .restaurantName{
        position: relative;
        width: 1700px;
        margin: 0px auto;
        top: 20rem;
    }

    .restaurantImage{
        margin-top: -8rem;
    }
}



